@import url(https://fonts.googleapis.com/css?family=Abel);

$baseFontFamily :"游ゴシック", YuGothic, "メイリオ",Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

$baseColor: #fdfcf6;
$subColor: #bea300;
$keyColor: #14c0c9;
$fontColor: #4c4c4c;

html{font-size: 62.5%;}

.top {
    height: 250px;
    width: 100%;
    background-image: url('../images/huzi.jpg');
    background-size: cover;
}

.content { 
    background-color: $baseColor;
    padding: 30px 0;
    h2 {
        font-size: 1.6rem;
        letter-spacing: .2rem;
        text-align: center;
    }
}


.con {
        display: block;  
        text-align: center;

        height: 120px;
        margin: 15px auto;
        box-sizing: border-box;
        padding-bottom: 10px;
        background-color: $subColor;
        
        p,h3 {
            font-size: 1.2rem;
            letter-spacing: .3rem;
        }
        
        p {
            padding: 0 15px 15px 15px;
        }
        
  
  
}
.bottom
{
    clear: both;
    background-color: $subColor;
    margin : 0 auto;
    text-align: center;
    padding: 15px 0;
    
    .btn {
        display: inline-block;
       
        
    }
    a {
        display: block;
         padding: 15px 50px;
        background-color: $baseColor;
        border-radius: 10px;
        text-decoration: none;
    }
}


@media(min-width: 769px ) {
    
    .top {
        width: 100%;
        height: 500px;
}
    
    .all{
        text-align: center;
    }
    
        .con {
           width: 30%;
            display: inline-block;
            margin: 10px;
            box-sizing: border-box;
        }
    
    
}